<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>poly2tri tester</title>
        <link rel="stylesheet" type="text/css" href="demo/demo.css" media="screen">
    </head>
    <body ng-app="demo" ng-controller="demoCtrl as demo">
        <div id="control">
            <form>
                <div class="wrapper">
                    <label for="preset">Load preset data:</label>
                    <select id="preset" ng-model="demo.file"
                            ng-options="(file.label + (file.throws ? ' (throws!)' : '')) for file in demo.files | orderBy:'label'">
                        <option value="">--Empty--</option>
                    </select>
                    <address ng-show="demo.file.title">
                        (source: <a ng-href="{{ demo.file.source }}">{{ demo.file.title }}</a>)
                    </address>
                    <input ng-click="demo.triangulate()" type="button" value="Triangulate!">
                    <div class="info" ng-show="demo.result.triangles.length >= 0">
                        ({{ demo.result.triangles.length }} triangles computed)
                    </div>
                </div>
                <div class="wrapper">
                    <input id="draw_constraints" type="checkbox"
                           ng-model="demo.showConstraints" ng-init="demo.showConstraints = true">
                    <label for="draw_constraints">Draw constraints</label> 
                </div>
                <div class="wrapper">
                    <label for="poly_contour">Contour of the polygon (any separator between coordinates):</label>
                    <textarea id="poly_contour" ng-model="demo.text.contour"
                              init-from-file="demo.file.name" rows="7" cols="50"></textarea>
                    <div class="info">({{ demo.parsed.contour.length }} points parsed)</div>
                </div>
                <div class="wrapper">
                    <label for="poly_holes">Holes in the polygon (at least one blank line between each hole):</label>
                    <textarea id="poly_holes" ng-model="demo.text.holes"
                              init-from-file="demo.file.holes" rows="5" cols="50"></textarea>
                    <div class="info">({{ demo.parsed.holes.length }} holes parsed)</div>
                </div>
                <div class="wrapper">
                    <label for="poly_points">Steiner points (any separator between coordinates):</label>
                    <textarea id="poly_points" ng-model="demo.text.points"
                              init-from-file="demo.file.points" rows="5" cols="50"></textarea>
                    <div class="info">({{ demo.parsed.points.length }} points parsed)</div>
                </div>
                <div class="wrapper">
                    Pointer in drawing coords: {x: <span id="pointer_x"></span>, y: <span id="pointer_y"></span>}
                    <br>
                    <em>Drag to Pan. Use wheel to zoom on pointer.</em>
                </div>
            </form>
            <address ng-controller="poly2triCtrl">
                Powered by <a href="https://github.com/r3mi/poly2tri.js.git">poly2tri.js</a> 
                v{{ poly2tri.VERSION }}</span>
            </address>
        </div>
        <stage id="content"
               contour="demo.parsed.contour"
               holes="demo.parsed.holes"
               points="demo.parsed.points"
               triangles="demo.result.triangles"
               bounding-box="demo.result.boundingBox"
               error-points="demo.result.error_points"
               show-constraints="demo.showConstraints">
        </stage>

        <script type="text/javascript" src="bower_components/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="bower_components/jquery-mousewheel/jquery.mousewheel.min.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="bower_components/kineticjs/index.js"></script>
        <script type="text/javascript" src="dist/poly2tri.min.js"></script>
        <script type="text/javascript" src="dist/demo.js"></script>
    </body>
</html>
