doxygen-doc
*.la
*.lo
*.a
*.o
*.pc
/*.config
*Makefile
*Makefile.in
*.deps/
*.libs/
/aclocal.m4
/autom4te.cache
/build-aux
/config.cache
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/doc
/libtool
/stamp-h1
